* {
    box-sizing: border-box;
}

body {
    background-color: #eceff4;
}

.aiWhite {
    background-color: #e5e9f0;
    box-shadow: 0 0 10px #e5e5e5;
    color: #e5e9f0;
}

.aiArticle {
    margin-top: 25px;
    background-color: #11111e;
    border-radius: 15px;
    min-width: 400px;
    display: flex;
    box-shadow: 0 0 10px #11111e;
    transition: box-shadow .2s ease-in-out;
}

.aiArticle:hover {
    box-shadow: 0 0 20px #11111e;
}

.aiText {
    margin: 15px;
    border-radius: 15px;
    padding: 5px;
    background-color: #31313e;
    color: #e5e9f0;
    overflow: auto;
    box-shadow: inset 0 0 10px #11111e;
}

.aiTitle {
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 40px;
    font-weight: bolder;
    color: #e5e9f0;
}

.aiTitlebox {
    background-color: #11111e;
    padding: 5px;
    border-radius: 15px;
}

.aiWhite {
    background-color: #e5e9f0;
    box-shadow: 0 0 10px #e5e5e5;
}

.aiWhiteText {
    color: #11111e;
}

.aiList {
    list-style: none;
}

.aiButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #31313e;
    color: #e5e9f0;
    font-weight: bold;
    font-size: 1.5vw;
    text-align: center;
    box-shadow: 0 0 10px #31313e;
    border-radius: 15px;
    max-width: 100%;
}

.navigationHeader {
    font-family: Helvetica, sans-serif;
    background-color: #11111ef5;
    position: fixed;
    z-index: 100;
    backdrop-filter: blur(5px);
}

.header__content {
    margin-left: auto;
    margin-right: auto;
}

.header__burger {
    display: none;
}

.logo {
    margin-top: 16px;
    margin-bottom: 16px;
}

.logo:hover {
    cursor: pointer;
}

.logo__img {
    max-width: 160px;
    filter: invert(94%) sepia(4%) saturate(257%) hue-rotate(180deg) brightness(93%) contrast(110%);
}

.logo__add {
    filter: invert(32%) sepia(28%) saturate(408%) hue-rotate(182deg) brightness(90%) contrast(87%);
}

.navigation {
    margin-left: auto;
}

.navigation__box {
    margin-top: auto;
    margin-bottom: auto;
}

.navigation__content {
    list-style: none;
}

.navigation__text {
    color: #e5e9f0;
    background-color: #31313e;
    border: #31313e 10px solid;
    font-size: 1.1vw;
    border-radius: 15px;
    transition-property: color, border-radius, border-color, background-color, box-shadow;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    padding-left: 10px;
    padding-right: 10px;
}

.navigation__text:not(last-child) {
    margin-right: 48px;
}

@media (max-width: 1400px) {
    .navigation__text:not(last-child) {
        margin-right: 20px;
    }
}

@media (max-width: 1155px) {
    .navigation {
        display: none;
    }
}

@media (max-width: 1155px) {
    .header__burger {
        display: contents;
    }
}

.navigation__text:hover {
    text-decoration: none;
    cursor: pointer;
    color: #eceff4;
    border-color: #41414e;
    background-color: #41414e;
    box-shadow: 0 0 10px #41414e;
}

.navigation__text:active {
    color: #d8dee9;
    border-color: #21212e;
    background-color: #212121;
    box-shadow: none;
}

.burger__icon {
    margin-left: auto;
    max-width: 32px;
    filter: invert(94%) sepia(4%) saturate(257%) hue-rotate(180deg) brightness(93%) contrast(110%);
    cursor: pointer;
}


.me {
    padding-top: 75px;
    padding-bottom: 50px;
    display: flex;
    background: url(/img/back.jpg) no-repeat fixed center / cover;
}

.me__article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    backdrop-filter: blur(5px);
    background-color: #11111ef5;
    max-height: 535px;
}

.me__image {
    max-width: 25vw;
    max-height: 25vw;
    margin-top: 15px;
    border-radius: 15px;
}

.me__imagebox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;
}

.me__nametext {
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

.me__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.me__discription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.me__discription__text {
    max-height: 25vw;
}

.me__buttons {
    margin-top: 15px;
    width: 50%;
}

.me__button {
    padding: 10px 5px 10px 5px;
    margin-top: 25px;
    transition-property: transform, background-color, box-shadow;
    transition-timing-function: ease-in-out;
    transition-duration: .2s;
}

.me__button:hover {
    transform: scale(102%);
    background-color: #41414e;
    box-shadow: 0 0 20px #41414e;
}

.me__button:active {
    transform: scale(98%);
    background-color: #21212e;
    box-shadow: 0 0 10px #11111e;
}

.me__button:focus {
    background-color: #41414e;
    box-shadow: 0 0 20px #41414e;
    outline: none;
}

.about {
    display: flex;
    justify-content: center;
}

.about__articlebox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about__titlebox {
    margin-top: 25px;
    padding: 15px;
}

.about__image {
    background-color: #11111e;
    border-radius: 15px;
    width: 200px;
    height: 200px;
    margin: 15px;
}

.about__article {
    max-height: 400px;
    max-width: 45%;
}

.about__articletext {
    max-height: 200px;
    overflow: auto;
}

@media (max-width: 1600px) {
    .about__articlebox {
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 1600px) {
    .about__article {
        max-width: 100%;
    }
}