* {
    box-sizing: border-box;
}

body {
    background-color: #eceff4;
}

.aiWhite {
    background-color: #e5e9f0;
    box-shadow: 0 0 10px #e5e5e5;
    color: #e5e9f0;
}

.aiArticle {
    margin-top: 25px;
    background-color: #11111e;
    border-radius: 15px;
    min-width: 400px;
    display: flex;
    box-shadow: 0 0 10px #11111e;
    transition: box-shadow .2s ease-in-out;
}

.aiText {
    margin: 15px;
    border-radius: 15px;
    padding: 5px;
    background-color: #31313e;
    color: #e5e9f0;
    overflow: auto;
    box-shadow: inset 0 0 10px #11111e;
}

.aiTitle {
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 40px;
    font-weight: bolder;
    color: #e5e9f0;
}

.aiTitlebox {
    background-color: #11111e;
    padding: 5px;
    border-radius: 15px;
}

.aiWhite {
    background-color: #e5e9f0;
    box-shadow: 0 0 10px #e5e5e5;
}

.aiWhiteText {
    color: #11111e;
}

.aiList {
    list-style: none;
}

.aiButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #31313e;
    color: #e5e9f0;
    font-weight: bold;
    font-size: 1.5vw;
    text-align: center;
    box-shadow: inset 0 0 10px #21212e;
    border-radius: 15px;
    max-width: 100%;
}

.navigationHeader {
    font-family: Helvetica, sans-serif;
    background-color: #11111ef5;
    position: fixed;
    z-index: 100;
    backdrop-filter: blur(5px);
}

.header__content {
    margin-left: auto;
    margin-right: auto;
}

.header__burger {
    display: none;
}

.logo {
    margin-top: 16px;
    margin-bottom: 16px;
}

.logo:hover {
    cursor: pointer;
}

.logo__img {
    max-width: 160px;
    filter: invert(94%) sepia(4%) saturate(257%) hue-rotate(180deg) brightness(93%) contrast(110%);
}

.logo__add {
    filter: invert(32%) sepia(28%) saturate(408%) hue-rotate(182deg) brightness(90%) contrast(87%);
}

.navigation {
    margin-left: auto;
}

.navigation__box {
    margin-top: auto;
    margin-bottom: auto;
}

.navigation__content {
    list-style: none;
}

.navigation__text {
    color: #e5e9f0;
    background-color: #31313e;
    border: #31313e 10px solid;
    font-size: 1.1vw;
    border-radius: 15px;
    transition-property: color, border-radius, border-color, background-color, box-shadow;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    padding-left: 10px;
    padding-right: 10px;
}

.navigation__text:not(last-child) {
    margin-right: 48px;
}

@media (max-width: 1400px) {
    .navigation__text:not(last-child) {
        margin-right: 20px;
    }
}

@media (max-width: 1155px) {
    .navigation {
        display: none;
    }
}

@media (max-width: 1155px) {
    .header__burger {
        display: contents;
    }
}

.navigation__text:hover {
    text-decoration: none;
    cursor: pointer;
    color: #eceff4;
    border-color: #41414e;
    background-color: #41414e;
    box-shadow: 0 0 10px #41414e;
}

.navigation__text:active {
    color: #d8dee9;
    border-color: #21212e;
    background-color: #212121;
    box-shadow: none;
}

.burger__icon {
    margin-left: auto;
    max-width: 32px;
    filter: invert(94%) sepia(4%) saturate(257%) hue-rotate(180deg) brightness(93%) contrast(110%);
    cursor: pointer;
}

.hero {
    height: 700px;
    background: url(/img/back.jpg) no-repeat fixed center / cover;
    background-color: #21212e;
    box-shadow: 0 0 10px #11111e;
    padding-top: 50px;
}

.hero__person {
    max-height: 600px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.hero__article {
    max-height: 600px;
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    background-color: #11111ef5;
    border: #ffffff00 25px solid;
    border-radius: 15px;
    box-shadow: 0 0 10px #11111ef5;
    transition: box-shadow .2s ease-in-out;
}


/* .hero__decorationbuttonbox {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 0;
}

.hero__decorationbuttons {
    width: 1px;
    height: 1px;
    border: #e5e9f0 10px solid;
    border-radius: 50%;
    background-color: #e5e9f0;
}

.hero__decorationbuttons:not(last-child) {
    margin-right: 15px;
} */

.hero__article:not(last-child) {
    margin-right: 25px;
}

.hero__article:hover {
    box-shadow: 0 0 20px #11111ef5;
}

.hero__imagediv {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    max-height: 400px;
}

.hero__image {
    background-color: #11111e;
    border-radius: 15px;
    border: 5px #d8dee9 solid;
    box-shadow: 0 0 5px #d8dee9;
    max-width: 400px;
    max-height: 400px;
    object-fit: cover;
    transition-property: opacity, transform, border-color, box-shadow;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

.hero__image:hover {
    transform: scale(105%);
    border-color: #eceff4;
    box-shadow: 0 0 10px #eceff4;
}

.hero__image:active {
    transform: scale(95%);
    opacity: .6;
}

.hero__linkbox {
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
    list-style: none;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin-left: 15px;
}

.hero__buttons {
    display: flex;
    background-color: #31313e;
    color: #e5e9f0;
    max-height: 60px;
    border: #31313e 10px solid;
    border-radius: 15px;
    box-shadow: 0 0 5px #31313e;
    transition-property: transform, border-color, background-color, box-shadow, color;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

.hero__buttons:hover {
    transform: scale(105%);
    cursor: pointer;
    background-color: #41414e;
    border-color: #41414e;
    box-shadow: 0 0 10px #41414e;
    text-decoration: none;
    color: #eceff4;
}

.hero__buttons:active {
    transform: scale(95%);
    cursor: pointer;
    background-color: #21212e;
    border-color: #21212e;
    box-shadow: 0 0 5px #21212e;
    color: #d8dee9;
}

.hero__buttons:not(last-child) {
    margin-top: 35px;
}

.hero__imagebox {
    display: flex;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
}

.hero__links {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    transition-property: color;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    font-size: 30px;
}

.hero__links:hover {
    text-decoration: none;
}

.hero__links:active {
    text-decoration: none;
}

.hero__title {
    margin: 0;
    padding: 0;
    display: flex;
    height: 80px;
    background-color: #e5e9f0;
    border: #e5e9f0 10px solid;
    border-radius: 15px;
    font-size: 40px;
    font-weight: bolder;
    color: #11111e;
    justify-content: center;
    margin: auto;
}

.hero__discription {
    margin-top: 25px;
    color: #e5e9f0;
    font-size: 25px;
    background-color: #31313e;
    border-radius: 15px;
    padding: 5px;
    overflow: auto;
    max-height: 400px !important;
}

.hero__about {
    max-width: 500px;
}

.hero__presentation {
    max-width: 1000px;
    margin-left: 25px;
}

.hero__presentationMobile {
    margin-top: 0;
}

.hero__titleMobile {
    display: flex;
    height: 80px;
    background-color: #e5e9f0;
    border: #e5e9f0 10px solid;
    border-radius: 15px;
    font-size: 40px;
    font-weight: bolder;
    color: #11111e;
    justify-content: center;
    align-items: center;
}

.blurredback {
    background-color: #11111e;
}

@media (min-width: 801px) {
    .hero__personMobile,
    .blurredback {
        display: none;
    }
}

@media (max-width: 1300px) {
    .hero__about,
    .hero__presentation {
        max-width: 80%;
        margin-left: 25px;
    }
}

@media (max-width: 1300px) {
    .hero__person {
        flex-direction: column;
        align-items: center;
        max-height: 1200px;
        margin-top: 0;
    }
}

@media (max-width: 1300px) {
    .hero {
        display: flex;
        height: 1050px;
    }
}

@media (max-width: 1300px) {
    .hero__discription {
        max-height: 200px !important;
    }
}

@media (max-width: 1300px) {
    .hero__buttons:not(last-child) {
        margin-top: 25px;
    }
}

@media (max-width: 1300px) {
    .hero__links {
        font-size: 25px;
    }
}

@media (max-width: 800px) {
    .hero {
        display: none;
    }
}

@media (max-width: 1200px) {
    .hero__image {
        max-width: 35vw;
        max-height: 35vw;
    }
}

@media (max-width: 1300px) {
    .hero__imagebox {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 800px) {
    .hero__imagebox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 100%;
    }
}

@media (max-width: 800px) {
    .hero__person {
        display: none;
    }
}

@media (max-width: 800px) {
    .hero__imagediv {
        max-width: 35%;
    }
}

@media (max-width: 800px) {
    .hero__linkbox {
        max-width: 100%;
    }
}

@media (max-width: 800px) {
    .hero__image {
        max-width: 100%;
        max-height: 100%;
        border-radius: 50%;
    }
}

.me {
    padding-top: 75px;
    padding-bottom: 50px;
    display: flex;
    background: url(/img/back.jpg) no-repeat fixed center / cover;
}

.me__article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    backdrop-filter: blur(5px);
    background-color: #11111ef5;
}

.me__image {
    max-width: 25vw;
    margin-top: 15px;
    border-radius: 15px;
}

.me__imagebox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;
}

.me__nametext {
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

.me__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.me__discription {
    display: flex;
}

.me__buttons {
    margin-top: 15px;
}

.me__button {
    margin-top: 25px;
}

.about {
    display: flex;
    justify-content: center;
}

.about__articlebox {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about__article:hover {
    box-shadow: 0 0 20px #11111e;
}

.about__title {
    margin-top: 25px;
}

.about__image {
    background-color: #11111e;
    border-radius: 15px;
    width: 200px;
    height: 200px;
    margin: 15px;
}

.about__article {
    max-height: 400px;
    max-width: 45%;
}

.about__articletext {
    max-height: 200px;
    overflow: auto;
}

@media (max-width: 1300px) {
    .about__articlebox {
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 1300px) {
    .about__article {
        max-width: 100%;
    }
}