* {
    box-sizing: border-box;
}

body {
    background-color: #eceff4;
}

.navigationHeader {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    background-color: #2e3440;
}

.header__content {
    margin-left: auto;
    margin-right: auto;
}

.header__burger {
    display: none;
}

.logo {
    margin-top: 16px;
    margin-bottom: 16px;
}

.logo:hover {
    cursor: pointer;
}

.logo__img {
    max-width: 160px;
    filter: invert(94%) sepia(4%) saturate(257%) hue-rotate(180deg) brightness(93%) contrast(110%);
}

.logo__add {
    filter: invert(32%) sepia(28%) saturate(408%) hue-rotate(182deg) brightness(90%) contrast(87%);
}

.navigation {
    margin-left: auto;
}

.navigation__box {
    margin-top: auto;
    margin-bottom: auto;
}

.navigation__content {
    display: inline-block;
}

.navigation__text {
    color: #e5e9f0;
    background-color: #434c5e;
    border: #434c5e 10px solid;
    border-radius: 15px;
    transition-property: color, border-radius, border-color, background-color;
    transition-duration: .2s; 
    transition-timing-function: ease-in-out;
}

.navigation__text:not(last-child) {
    margin-right: 48px;
}

@media (max-width: 1400px) {
    .navigation__text:not(last-child) {
        margin-right: 20px;
        font-size: 20px;
    }
}

@media (max-width: 1155px) {
    .navigation {
        display: none;
    }
}

@media (max-width: 1155px) {
    .header__burger {
        display: contents;
    }
}

.navigation__text:hover {
    text-decoration: none;
    cursor: pointer;
    color: #81a1c1;
    border-color: #4c566a;
    background-color: #4c566a;
}

.navigation__text:active {
    color: #5e81ac;
}

.burger__icon {
    margin-left: auto;
    max-width: 32px;
    filter: invert(94%) sepia(4%) saturate(257%) hue-rotate(180deg) brightness(93%) contrast(110%);
    cursor: pointer;
}

.hero {
    height: 800px;
    background-color: #3b4252;
    background: url(/img/back.jpg) no-repeat fixed center / cover;
}

.hero__person {
    max-height: 800px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.hero__article {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    background-color: #2e3440f5;
    border: #ffffff00 50px solid;
    border-radius: 15px;
    box-shadow: 0 0 10px #2e3440f5;
}

/* .hero__decorationbuttonbox {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 0;
}

.hero__decorationbuttons {
    width: 1px;
    height: 1px;
    border: #e5e9f0 10px solid;
    border-radius: 50%;
    background-color: #e5e9f0;
}

.hero__decorationbuttons:not(last-child) {
    margin-right: 15px;
} */

.hero__article:not(last-child) {
    margin-right: 25px;
}

.hero__image {
    background-color: #2e3440;
    border-radius: 15px;
    border: 5px #d8dee9 solid;
    box-shadow: 0 0 10px #d8dee9;
    max-width: 400px;
    max-height: 400px;
    object-fit: cover;
    transition-property: opacity, transform, border-color, box-shadow;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

.hero__image:hover {
    transform: scale(105%);
    border-color: #eceff4;
    box-shadow: 0 0 10px #eceff4;
}

.hero__image:active {
    transform: scale(95%);
    opacity: .6;
}

.hero__linkbox {
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style: none;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5pc;
    margin-left: 15px;
}

.hero__buttons {
    display: flex;
    background-color: #434c5e;
    height: 60px;
    border: #434c5e 10px solid;
    border-radius: 15px;
    box-shadow: 0 0 10px #434c5e;
    transition-property: transform, border-color, background-color, box-shadow;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

.hero__buttons:hover {
    transform: scale(110%);
    cursor: pointer;
    background-color: #4c566a;
    border-color: #4c566a;
    box-shadow: 0 0 10px #4c566a;
}

.hero__buttons:active {
    transform: scale(95%);
    cursor: pointer;
    background-color: #3b4252;
    border-color: #3b4252;
    box-shadow: 0 0 10px #3b4252;
}

.hero__buttons:not(last-child) {
    margin-top: 35px;
}

.hero__imagebox {
    display: flex;
    margin-top: 25px;
    justify-content: center;
}

.hero__links {
    color: #e5e9f0;
    display: flex;
    justify-content: center;
    margin: auto;
    transition-property: color;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

.hero__links:hover {
    text-decoration: none;
    color: #81a1c1;
}

.hero__links:active {
    text-decoration: none;
    color: #5e81ac;
}

.text__card {
    margin-left: 20px;
    display: flex;
    margin-top: 45px;
    background-color: #2e3440f5;
    border: #ffffff00 50px solid;
    border-radius: 15px;
    box-shadow: 0 0 10px #2e3440f5;
    font-family: Helvetica, sans-serif;
}

.hero__title {
    display: flex;
    height: 80px;
    background-color: #e5e9f0;
    border: #e5e9f0 10px solid;
    border-radius: 15px;
    font-size: 40px;
    font-weight: bolder;
    color: #2e3440;
    justify-content: center;
    margin: auto;
}

.hero__discription {
    margin-top: 25px;
    color: #e5e9f0;
    font-size: 22px;
    background-color: #3b4252;
    border-radius: 15px;
    padding: 5px;
    overflow: auto;
    max-height: 800px;
}