* {
    box-sizing: border-box;
}

body {
    background-color: #eceff4;
}

.navigationHeader {
    font-family: Helvetica, sans-serif;
    background-color: #11111e;
}

.header__content {
    margin-left: auto;
    margin-right: auto;
}

.header__burger {
    display: none;
}

.logo {
    margin-top: 16px;
    margin-bottom: 16px;
}

.logo:hover {
    cursor: pointer;
}

.logo__img {
    max-width: 160px;
    filter: invert(94%) sepia(4%) saturate(257%) hue-rotate(180deg) brightness(93%) contrast(110%);
}

.logo__add {
    filter: invert(32%) sepia(28%) saturate(408%) hue-rotate(182deg) brightness(90%) contrast(87%);
}

.navigation {
    margin-left: auto;
}

.navigation__box {
    margin-top: auto;
    margin-bottom: auto;
}

.navigation__content {
    list-style: none;
}

.navigation__text {
    color: #e5e9f0;
    background-color: #31313e;
    border: #31313e 10px solid;
    font-size: 1.1vw;
    border-radius: 15px;
    transition-property: color, border-radius, border-color, background-color, box-shadow;
    transition-duration: .2s; 
    transition-timing-function: ease-in-out;
}

.navigation__text:not(last-child) {
    margin-right: 48px;
}

@media (max-width: 1400px) {
    .navigation__text:not(last-child) {
        margin-right: 20px;
    }
}

@media (max-width: 1155px) {
    .navigation {
        display: none;
    }
}

@media (max-width: 1155px) {
    .header__burger {
        display: contents;
    }
}

.navigation__text:hover {
    text-decoration: none;
    cursor: pointer;
    color: #eceff4;
    border-color: #41414e;
    background-color: #41414e;
    box-shadow: 0 0 10px #41414e;
}

.navigation__text:active {
    color: #d8dee9;
    border-color: #21212e;
    background-color: #212121;
    box-shadow: none;
}

.burger__icon {
    margin-left: auto;
    max-width: 32px;
    filter: invert(94%) sepia(4%) saturate(257%) hue-rotate(180deg) brightness(93%) contrast(110%);
    cursor: pointer;
}

.hero {
    height: 700px;
    background: url(/img/back.jpg) no-repeat fixed center / cover;
    background-color: #21212e;
}

.hero__person {
    max-height: 600px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.hero__article {
    max-height: 600px;
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    background-color: #11111ef5;
    border: #ffffff00 25px solid;
    border-radius: 15px;
    box-shadow: 0 0 10px #11111ef5;
}

/* .hero__decorationbuttonbox {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 0;
}

.hero__decorationbuttons {
    width: 1px;
    height: 1px;
    border: #e5e9f0 10px solid;
    border-radius: 50%;
    background-color: #e5e9f0;
}

.hero__decorationbuttons:not(last-child) {
    margin-right: 15px;
} */

.hero__article:not(last-child) {
    margin-right: 25px;
}

.hero__image {
    background-color: #11111e;
    border-radius: 15px;
    border: 5px #d8dee9 solid;
    box-shadow: 0 0 10px #d8dee9;
    max-width: 400px;
    max-height: 400px;
    object-fit: cover;
    transition-property: opacity, transform, border-color, box-shadow;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

.hero__image:hover {
    transform: scale(105%);
    border-color: #eceff4;
    box-shadow: 0 0 20px #eceff4;
}

.hero__image:active {
    transform: scale(95%);
    opacity: .6;
}

.hero__linkbox {
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style: none;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5pc;
    margin-left: 15px;
}

.hero__buttons {
    display: flex;
    background-color: #31313e;
    color: #e5e9f0;
    height: 60px;
    border: #31313e 10px solid;
    border-radius: 15px;
    box-shadow: 0 0 10px #31313e;
    transition-property: transform, border-color, background-color, box-shadow, color;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

.hero__buttons:hover {
    transform: scale(105%);
    cursor: pointer;
    background-color: #41414e;
    border-color: #41414e;
    box-shadow: 0 0 20px #41414e;
    text-decoration: none;
    color: #eceff4;
}

.hero__buttons:active {
    transform: scale(95%);
    cursor: pointer;
    background-color: #21212e;
    border-color: #21212e;
    box-shadow: 0 0 10px #21212e;
    color: #d8dee9;
}

.hero__buttons:not(last-child) {
    margin-top: 35px;
}

.hero__imagebox {
    display: flex;
    margin-top: 25px;
    justify-content: center;
}

.hero__links {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    transition-property: color;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    font-size: 1.5vw;
}

.hero__links:hover {
    text-decoration: none;
}

.hero__links:active {
    text-decoration: none;
}

.hero__title {
    margin: 0;
    padding: 0;
    display: flex;
    height: 80px;
    background-color: #e5e9f0;
    border: #e5e9f0 10px solid;
    border-radius: 15px;
    font-size: 40px;
    font-weight: bolder;
    color: #11111e;
    justify-content: center;
    margin: auto;
}

.hero__discription {
    margin-top: 25px;
    color: #e5e9f0;
    font-size: 1.4vw;
    background-color: #21212e;
    border-radius: 15px;
    padding: 5px;
    overflow: auto;
    max-height: 400px;
}

.hero__about {
    max-width: 500px;
}

.hero__presentation {
    max-width: 1000px;
}

@media (max-width: 1600px) {
    .hero__about,
    .hero__presentation {
        max-width: 80%;
        max-height: 100%;
    }
}

@media (max-width: 1600px) {
    .hero__person {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-height: 1200px;
    }
}

@media (max-width: 1600px) {
    .hero {
        height: 1050px;
    }
}

.about {
    display: flex;
    justify-content: center;
}

.about__titlebox {
    margin-top: 25px;
    background-color: #21212e;
    border: #21212e 10px solid;
    border-radius: 15px;
}

.about__title {
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 40px;
    font-weight: bolder;
    color: #e5e9f0;
}

